$blue: #3498DC;

body{
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: lighter;
}

#letterList{
  list-style: none;
  color: white;
  padding-left: 0;
  li{
    display: inline-block;
    background: $blue;
    font-weight: bold;
    font-size: 2em;
    width: 40px;
    height: 40px;
    padding: 8px;
    text-align: center;
    box-shadow: 0 5px 5px #cccccc; 
  }
}

#userPrompt{
  margin-top: 50px;
}